*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 50%;
  margin: 20px auto;
}

.box-img{
  position: relative;
}

.card{
  display: inline-block;
  width: 30%;
  margin: 10px;
}

.first-img{
  width: 100%;
}

